/[Tt]emp/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
.vs/
.gradle/
ExportedObj/
.consulo/
*.tmp
*.userprefs
*.pidb
*.svd
*.VC.db
sysinfo.txt
crashlytics-build.properties
AWSMySQLPHP/Library/Artifacts/*
*.pdf
*.log
*.7z
AWSMySQLPHP/Logs/*
