/[Tt]emp/
/[Ll]ogs/
/[Mm]emoryCaptures/
/[Rr]ecordings/
.vs/
.gradle/
ExportedObj/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
sysinfo.txt
*.apk
*.aab
*.app
crashlytics-build.properties
AWSMySQLPHP/Library/Artifacts/*
*.pdf
*.log
*.7z
AWSMySQLPHP/Logs/*
